*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db

ne5-42c50-firebase-adminsdk-fbsvc-6b008c54c3.json
ne5-42c50-firebase-adminsdk-fbsvc-9b837423fb.json
*-firebase-adminsdk-*.json
docs/*.pdf

firebase.json

vps.env


